{# property/property_list.twig #}

<ul class="properties_list">
    {% for item in properties %}
        <li class="properties_list__item">
            {% include 'property/property_list_item.twig' %}
        </li>
    {% endfor %}
</ul>